body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "roboto", sans-serif;
    
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 0 12rem;
    align-items: center;
}

h1 {
    color: #fff;
}

ul {
    display: flex;
    margin-left: auto;
    list-style: none; 
    gap: 1.2rem;
    font-size: large;
}

a {
    text-decoration: none;
    color: #fff;
}

.subheader {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 12rem 8rem 12rem;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.title p {
    color: #e5e7eb;
    font-size: 18px;
   
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding:.8rem 2rem;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


.title {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
}

img {
   height: 300px;
   width: 800px;
}

h3 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 0;
    gap: 4rem;
    padding-bottom: 8rem;
}

.info-section img {
    height: 200px;
    width: 200px;
    border-radius: 2rem;
    border: solid;
    border-color: #3882f6;
    border-width: .4rem;
}

.text {
    width: 200px;
    text-align: center;
    font-size: 18px;
    margin: 1rem auto;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 10rem 12rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    width: 848px;
    margin: 0 auto;
}

.signature {
    font-size: 24px;
    text-align: right;
    padding-right: 40rem;
}
    

